<section class="container mx-auto">

	<nav class="flex flex-row justify-between" role="navigation" aria-label="pagination">
		<a v-bind:href="prev" class="py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Previous</a>
		<a v-bind:href="next" class="py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Next</a>
	</nav>

	<article v-for="item in items" class="bg-white p-2 my-3 shadow rounded-md">
		<div class="flex flex-row justify-between">
			<a v-bind:href="item.link" class="text-lg font-bold">{{item.title}}</a>
			<p class="text-sm text-gray-700">{{item.pubDate}}</p>
		</div>
		<a v-bind:href="item.feedLink" class="text-sm text-blue-800 inline-block hover:underline hover:text-blue-500">{{item.feedTitle}}</a>

		<div class="block mt-2" v-html="item.description"></div>

		<div v-if="item.saved" class="flex flex-row justify-end items-center">
			<button v-on:click="remove(item.id)" class="mx-1 py-1 px-2 text-sm text-red-500 font-light hover:text-white border-solid border border-red-500 hover:bg-red-500 rounded-full">
				Delete
			</button>
			<button class="mx-1 py-1 px-2 text-sm text-green-500 font-light hover:text-white border-solid border border-green-500 hover:bg-green-500 rounded-full" disabled>
				Saved
			</button>
		</div>
		<div v-else class="flex flex-row justify-end items-center">
			<button v-on:click="remove(item.id)" class="mx-1 py-1 px-2 text-sm text-red-500 font-light hover:text-white border-solid border border-red-500 hover:bg-red-500 rounded-full">
				Delete
			</button>
			<button v-on:click="save(item.id)" class="mx-1 py-1 px-2 text-sm text-green-500 font-light hover:text-white border-solid border border-green-500 hover:bg-green-500 rounded-full">
				Save
			</button>
		</div>
	</article>

	<nav class="flex flex-row justify-between mb-2" role="navigation" aria-label="pagination">
		<a v-bind:href="prev" class="py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Previous</a>
		<a v-bind:href="next" class="py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Next</a>
	</nav>

</section>
