<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Feed Reader</title>
		<meta name="description" content="Feed Reader">
		<meta name="author" content="Derek Morey">
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		{% block styles %}
		{% endblock %}
	</head>

	<body class="bg-gray-200">

		<nav class="flex flex-row items-center bg-gray-800 text-gray-200 p-4 text-lg" role="navigation" aria-label="main navigation">
				<a class="mx-4 text-xl" href="/">Feed Reader</a>
				<a class="mx-2" href="/">Feed</a>
				<a class="mx-2" href="/subscriptions">Subscriptions</a>
		</nav>

		<main class="pt-2">
		{% block content %}
		{% endblock %}
		</main>

		<script src="https://unpkg.com/htmx.org@0.2.0"></script>
		<script src="https://unpkg.com/htmx.org@0.2.0/dist/ext/path-deps.js"></script>
		<script src="/clear-ext.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>

</html>
