{% from "macros.html" import button %}
{% extends "base.html" %}

{% block content %}
<section class="container mx-auto">

	<nav class="flex flex-row justify-between" role="navigation" aria-label="pagination">
		<a href="{{prev}}" class="{{button('blue')}}">Previous</a>
		<a href="{{next}}" class="{{button('blue')}}">Next</a>
	</nav>

	{% for item in items %}
	<article class="bg-white p-2 my-3 shadow rounded-md">
		<div class="flex flex-row justify-between">
			<a href="{{item.link}}" class="text-lg font-bold">{{item.title}}</a>
			<p class="text-sm text-gray-700">{{item.pubDate}}</p>
		</div>
		<a href="{{item.feedLink}}" class="text-sm text-blue-800 inline-block hover:underline hover:text-blue-500">{{item.feedTitle}}</a>

		<div class="block mt-2">
			{{item.description | safe}}
		</div>

		<div class="flex flex-row justify-end items-center">
			{% if item.saved %}
			<button class="mx-1 py-1 px-2 text-sm text-red-500 font-light hover:text-white border-solid border border-red-500 hover:bg-red-500 rounded-full" hx-delete="/items/{{item.id}}" hx-trigger="click">
				Delete
			</button>
			<button class="mx-1 py-1 px-2 text-sm text-green-500 font-light hover:text-white border-solid border border-green-500 hover:bg-green-500 rounded-full" disabled>
				Saved
			</button>
			{% else %}
			<button class="mx-1 py-1 px-2 text-sm text-red-500 font-light hover:text-white border-solid border border-red-500 hover:bg-red-500 rounded-full" hx-delete="/items/{{item.id}}" hx-trigger="click">
				Delete
			</button>
			<button class="mx-1 py-1 px-2 text-sm text-green-500 font-light hover:text-white border-solid border border-green-500 hover:bg-green-500 rounded-full" hx-put="/items/{{item.id}}/save" hx-trigger="click" hx-swap="outerHTML">
				Save
			</button>
			{% endif %}
		</div>
	</article>
	{% endfor %}

	<nav class="flex flex-row justify-between mb-2" role="navigation" aria-label="pagination">
		<a href="{{prev}}" class="{{button('blue')}}">Previous</a>
		<a href="{{next}}" class="{{button('blue')}}">Next</a>
	</nav>

</section>
{% endblock %}