<table class="table-auto w-full">
	<thead class="text-gray-300 bg-blue-900">
		<tr>
			<th class="py-3">URL</th>
			<th class="py-3">Action</th>
		</tr>
	</thead>
	<tbody class="bg-gray-100">
	{% for sub in subscriptions %}
		<tr>
			<td class="border px-2 py-1">{{sub.url}}</td>
			<td class="border px-2 py-1 text-center">
				<button class="py-1 px-2 text-sm text-red-500 border border-red-500 hover:bg-red-500 hover:text-white rounded-full" hx-delete="/subscriptions/{{sub.id}}">Delete</buttton>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
