<nav class="flex flex-row justify-between items-center py-2" role="navigation" aria-label="pagination">
	<span>Page {{page}}</span>
	<span>
		<button v-on:click="prev" class="mr-1 py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Previous</button>
		<button v-on:click="next" class="py-1 px-2 text-blue-500 font-light hover:text-white border-solid border border-blue-500 hover:bg-blue-500 rounded-full">Next</button>
	</span>
</nav>
