<nav class="flex flex-row justify-between items-center bg-blue-900 p-4">
	<div class="flex flex-row justify-start items-center">
		<router-link class="text-gray-100 font-medium text-lg mr-7" v-bind:to="{name: 'home'}">Feed Reader</router-link>
		<router-link v-if="loggedIn" class="text-gray-200 hover:text-gray-400 mx-2" v-bind:to="{name: 'home'}">Home</router-link>
		<router-link v-if="loggedIn" class="text-gray-200 hover:text-gray-400 mx-2" v-bind:to="{name: 'saved-posts'}">Saved</router-link>
		<router-link v-if="loggedIn" class="text-gray-200 hover:text-gray-400 mx-2" v-bind:to="{name: 'subscriptions'}">Subscriptions</router-link>
	</div>
	<div class="flex flex-row justify-end">
		<button v-if="loggedIn" v-on:click="logout" class="text-gray-200 hover:bg-gray-200 hover:text-gray-800 border border-gray-200 rounded p-1" type="button">Logout</button>
	</div>
</nav>
